<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HANGMAN WEB</title>
    <link href="/static/form.css" rel="stylesheet" type="text/css" >
</head>
<body>
    <h1>Météo</h1>
    <div class="button">
        <a href="/connexion"><button><span class="text">se connecter</span></button></a>
    </div>
    <div class="button">
        <a href="/inscription"><button><span class="text">s'inscrire</span></button></a>
    </div>
</body>
</html>